@media screen and (max-width: 640px) { 
    #hosting {
        flex-direction: column-reverse;
    } 
    
    .hosting {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 2rem 3rem 2rem;
        background-color: transparent;
    }

    .hosting-header {
        margin-bottom: 2rem;
    }

    .hosting-header h2 {
        margin: 0;
    }

    .aside {
        width: auto;
        margin-bottom: 2rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 413px) { 
    .hosting {
        padding: 0 1rem 3rem 1rem;
    }
}